a{
    text-decoration: none;
    color: black;
    font-weight: 630;
    padding: 15px;
}
.bg-colour{
    background-color: #fcf0f8dc;
}
.logo-width img{
    width: 360px;
}
.nav-left{
  margin-left: 350px;

}
.text-highlight
{
    color:#fcbe4a;
}
h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 67px;
}
.custom-btn{
    background-color: #93c52e;
    padding: 16px 35px;
    border: none;
    border-radius: 10px;
    font-weight: 600;
}
.font-style{
    font-size: 40px;
}
.image-resize-1 img{
    height: 230px;
    width: 230px;
}
.image-padding{
    padding: 15px;
    border-radius: 1em;
    border: none;
   
    
}
.image-resize-1, .image-resize-2, .border-design{
    border-radius: 1em;
}
.image-resize-2 img{
    height: 230px;
    width: 170px;
}
.icon-width img{
    width: 90px;
}
.border-design{
    padding: 20px;
}
.top-margin{
    margin-top: 100px;
}
.slide-background{
    background-color: #d7e7e9;
}
.image-resize-slide img{

    width: 350px;
    height: 400px;
}

@media only screen and (max-width: 600px)
{
.media-query{
    margin-top: 60px;
    position: absolute;
}
.media-query-2{
    position: relative;
    top: 380px;
}
.media-query-3{
    position: relative;
    top: 450px;
}


}